@import url('../../../styles.scss');

.nav {
    width: fit-content;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--white);
    border-right: 2px var(--grey-100) solid;
    
    &__logo {
        &-outer {
            padding: 24px 9px;

            border-bottom: 2px var(--grey-100) solid;
        }

        &-inner {
            width: 54px;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__links {
        padding: 8px;
        
        ul {
            list-style: none;
            gap: 9px;
        }
    }
}
