<nav class="nav">
    <div class="nav__logo-outer">
        <div class="nav__logo-inner">
            <img 
                src="../../../../assets/logo.svg"
                alt="Agrigistics"
                class="nav__logo-image"
            />
        </div>
    </div>

    <div class="nav__links">
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <app-ui-site-icon 
                        text="Item 1" 
                        textTag="label" 
                        textAlign="center" 
                        fontWeight="bold">
                    </app-ui-site-icon>
                </a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <app-ui-site-icon 
                        text="Item 2" 
                        textTag="label" 
                        textAlign="center" 
                        fontWeight="bold">
                    </app-ui-site-icon>
                </a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <app-ui-site-icon 
                        text="Item 3" 
                        textTag="label" 
                        textAlign="center" 
                        fontWeight="bold">
                    </app-ui-site-icon>
                </a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <app-ui-site-icon 
                        text="Item 4" 
                        textTag="label" 
                        textAlign="center" 
                        fontWeight="bold">
                    </app-ui-site-icon>
                </a>
            </li>
            <li>
                <a routerLink="/payroll" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <app-ui-site-icon 
                        text="Payroll" 
                        textTag="label" 
                        textAlign="center" 
                        fontWeight="bold">
                    </app-ui-site-icon>
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- <nav class="navbar">
    <ul>
        <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
    </ul>
</nav> -->
  